<h2>Update</h2>
<form action="edit" method="POST">
  <input name="update" type="hidden" value="<%=update %>" />
  <input name="id" type="hidden" value="<%=data.id %>" />
  <label for="fid">Id </label>
  <input type="text" name="fid" disabled value="<%=data.id %>" />
  <label for="product">Product </label>
  <input
    name="prod"
    type="text"
    placeholder="product"
    required
    value="<%=data.prod %>"
  />
  <button type="submit">Update</button>
  <button type="reset">Clear</button>
</form>
